<html>
  <head>
    <title>Encrypt&Share</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="static/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Tajawal&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|Unica+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="container" class="container">
      <div style="width:800px; margin:0 auto;" align="center">
        <div>
          <h1>Encrypt&Share</h1>
        </div>
        {%block content%}
        {% endblock %}
        <p>
        This is a service to encrypt and share files.
        All the files are encrypted on the client side using only javascript CryptoJS library with a randomly generated password.
        </p>
      <div id="loader" class="loader"></div>
      </div>
    </div>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/crypto-js.js"></script>
    <script src="static/js/loading.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      $('h1').click( function() {
        window.location.href = "/"
      });
    </script>
  </body>
</html>

